* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#accountdetails {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

#user-profile {
    display: flex;
    margin-bottom: 5vh;
}

#user-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
}

#user-img img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

#userProfileDetail {
    margin-top: 2vh;
    display: flex;
    color: white;
}

.userprofile {
    margin-left: 2vh;
    text-align: center;
}

.userprofile .count {
    font-weight: 700;
}

.userprofile label {
    font-size: 15px;
}

.userdetail {
    margin-top: 2vh;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
}

#edit-profile {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.8s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

#edit-profile:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

#edit-profile:active {
    transform: scale(0.8);
}

#user-post {
    height: 150px;
    width: 150px;
    overflow: hidden;
}

#user-post img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.userdetail text {
    padding-left: 8px;
}

#input-box {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

#input-box:focus {
    outline: none;
}

#all-post {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

#all-post::-webkit-scrollbar {
    width: 0;
}

.my-post-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#eclips {
    margin-right: 4vh;
    font-size: 20px;
}

