#user-box{
    display: grid;
    place-items: center;
}

.postBox{
    top: 0;
    width: 80%;
}

.postCard{
    height: 60vh;
    overflow: auto;
    width: 80%;
}

.postCard::-webkit-scrollbar{
    width: 0;
}

.card{
    margin-top: 2vh;
    width: 100%;
    height: 50vh;
}

.card img{
    width: 100%;
    object-fit: cover;
    height: 30vh;
}

#post-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}