* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --textColor: #fff;
    --backgroundColor: #121212;
    --hoverEffect:#BB86FC;
}


.layout-box {
    color: var(--textColor);
    height: 90%;
    width: 99%;
}

.col-2,.col{
    background-color: var(--backgroundColor);
    border-left: 1px solid rgba(255, 255, 255, 0.374);
}

.part{
    border-left: 2px solid white;
}

.col{
    /* margin-left: 1vh; */
}

.sidebar-data{
    display: flex;
    margin-top: 5vh;
    font-size: 1.3rem;
    transition: 0.4s;
    align-items: normal;
    padding: 5px 15px;
}

.sidebar-data i {
    margin-right: 3vh;
    transition: 0.4s;
}

.decoration{
    text-decoration: none;
    color: white;
}


.sidebar-data:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.374);
}

.sidebar-data:hover i {
    scale: 1.2;
}

.button-creat-grp{
    display: flex;
    justify-content: end;
}

#your-following{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#new-group-user-list{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 2vh;
    align-items: center;
}